DotNet/CostEstimator/Classes/PipeCostReference.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio - FREE Community Edition (http://www.liquid-technologies.com)-->
<xs:schema xmlns:mstns="http://tempuri.org/PipeCostReference.xsd" elementFormDefault="qualified" targetNamespace="http://tempuri.org/PipeCostReference.xsd" id="PipeCostReference" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PipeCostOptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="TrenchedConstants">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="sawCuttingACPavementPerSqFt" type="xs:float" />
              <xs:element name="asphaltRemovalPerSqYd" type="xs:float" />
              <xs:element name="trenchExcavationPerCuYd" type="xs:float" />
              <xs:element name="truckHaulExcavationSpoilsPerCuYd" type="xs:float" />
              <xs:element name="trenchShoringPerSqFt" type="xs:float" />
              <xs:element name="asphaltTrenchPatchBaseCoursePerCuYd" type="xs:float" />
              <xs:element name="asphaltTrenchPatchPerSqYd" type="xs:float" />
              <xs:element name="pipeZoneBackfillLessThanEqualTo12InDiamPerCuYd" type="xs:float" />
              <xs:element name="pipeZoneBackfillGreaterThan12InDiamPerCuYd" type="xs:float" />
              <xs:element name="fillAbovePipeZoneLessThanEqualTo12InDiamPerCuYd" type="xs:float" />
              <xs:element name="fillAbovePipeZoneGreaterThan12InDiamPerCuYd" type="xs:float" />
              <xs:element name="spoilsFactor" type="xs:double" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="1" name="InsideDiameterToOutsideDiameterTable">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="InsideDiameterToOutsideDiameterRecord">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="insideDiameterIn" type="xs:double" />
                    <xs:element name="material" type="xs:string" />
                    <xs:element name="outsideDiameterIn" type="xs:double" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="1" name="InsideDiameterToManholeDiameterTable">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="InsideDiameterToManholeDiameterRecord">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="insideDiameterIn" type="xs:double" />
                    <xs:element name="manholeDiameterIn" type="xs:double" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="1" name="TrenchBaseWidthTable">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="TrenchBaseWidthRecord">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="outsideDiameterIn" type="xs:double" />
                    <xs:element name="widthFt" type="xs:double" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DepthToTrenchExcavationCostTable">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" name="DepthToTrenchExcavationCostRecord">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="depthFt" type="xs:double" />
                    <xs:element name="costPerCuYd" type="xs:double" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="1" name="PipeCostTable">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="PipeCostRecord">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="diameterIn" type="xs:double" />
                    <xs:element name="material" type="xs:string" />
                    <xs:element name="costPerFt" type="xs:float" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="1" name="LateralCostTable">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="LateralCostRecord">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="insideDiameterIn" type="xs:double" />
                    <xs:element name="depthFt" type="xs:double" />
                    <xs:element name="costPerFt" type="xs:float" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="1" name="ManholeCostTable">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="ManholeCostRecord">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="manholeDiameterIn" type="xs:double" />
                    <xs:element name="baseCost" type="xs:float" />
                    <xs:element name="costPerFtDepthAbove8Ft" type="xs:float" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="1" name="TrenchlessCIPPConstants">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="lateralLessThanEqualTo24InDiamCost" type="xs:float" />
              <xs:element name="lateralGreaterThan24InDiamCost" type="xs:float" />
              <xs:element name="tvCleanLessThanEqualTo24InDiamCost" type="xs:float" />
              <xs:element name="tvCleanGreaterThan24InDiamCost" type="xs:float" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="1" name="TrenchlessPipeburstConstants">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="lateralCost" type="xs:float" />
              <xs:element name="tvCleanLessThanEqualTo24InDiamCost" type="xs:float" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="1" name="TrenchlessFlowDiversionCostTable">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="TrenchlessFlowDiversionCostRecord">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="insideDiameterIn" type="xs:double" />
                    <xs:element name="costPerFt" type="xs:float" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="1" name="TrenchlessCIPPCostTable">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="TrenchlessCIPPCostRecord">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="insideDiameterIn" type="xs:double" />
                    <xs:element name="costPerFt" type="xs:float" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="1" name="TrenchlessPipeburstCostTable">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="TrenchlessPipeburstCostRecord">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="insideDiameterIn" type="xs:double" />
                    <xs:element name="costPerFt" type="xs:float" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="BaseENR" type="xs:integer" />
        <xs:element name="CurrentENR" type="xs:integer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>